@import "variables";
.screenCell.stats {
  height: 180vh;
  @media only screen and (max-width: 900px) {
    height: 240vh
  }
}
.stats {
  align-self: center;
  grid-gap: 60px;
  padding: 0px 6vw;
  @media only screen and (max-width: 900px) {
    padding: 0px;
      .point{
          margin-bottom: 120px;
      }
  }
  .point > div {
    margin: 10px 15px 10px 15px;
  }
  .point {
    background-color: $textColor;
    color: $bg;
    max-width: 303px;
    min-width: 303px;
    min-height: 340px;
    // height: 340px;
    border-radius: 20px;
    display: grid;
    grid-template-areas:
      "n_a"
      "n_a"
      "n_b"
      "n_d"
      "n_e";
    align-items: start;
    #point_illus {
      grid-area: n_a;
      margin: 0px 0px 10px 0px;
      // justify-self: center;
    }
    #point_title {
      grid-area: n_b;
      font-weight: 700;
      font-size: 2.2em;
      margin-top: 5px;
    }
    #point_description {
      grid-area: n_d;
      font-size: $fontMini;
      color: $bg;
    }
    #var {
      grid-area: n_e;
      margin-bottom: 20px;
    }
    @media only screen and (max-width: 660px) {
      width: 100px;
      height: 500px;
    }
  }
  .point.purple {
    grid-area: a;
    justify-self: start;
    border-bottom-right-radius: 0px;
    #point_title {
      color: #b05bb2;
    }
    #var {
      #number_purple {
        color: #b05bb2;
      }
    }
  }
  .point.green {
    grid-area: d;
    justify-self: end;
    border-bottom-left-radius: 0px;
    #point_title {
      color: #529661;
    }
    #var {
      #number {
        color: #529661;
      }
    }
    @media only screen and (max-width: 900px) {
      justify-self: start;
      grid-area: c;
    }
  }
  .point.red {
    grid-area: e;
    justify-self: start;
    border-bottom-right-radius: 0px;
    #point_title {
      color: #ff5c5c;
    }
    #var {
      #number_red {
        color: #ff5c5c;
      }
    }
  }
}
