@import "variables";
.stats {
    align-self: center;
    #b {
        margin: 0px 60px 0px 60px;
    }
    .point {
        background-color: $textColor;
        color: $bg;
        // width: 420px;
        // max-width: 500px;
        max-width: 270px;
        max-height: 390px;
        min-height: 390px;
        border-radius: 20px;
        display: grid;
        grid-template-areas:
            "a a"
            "b b"
            "c c"
            "d d";
        align-items: start;
        #point_illus {
            grid-area: a;
            justify-self: center;
            // margin-left: 7px;
        }
        #point_title {
            grid-area: b;
            font-weight: bold;
            font-size: $statTitle;
            margin-top: 5px;
            margin-left: 15px;
        }
        #point_description {
            grid-area: c;
            font-size: $fontMini;
            color: $bg;
            margin-bottom: 5px;
            margin-right: 20px;
            margin-left: 15px;
        }
        @media only screen and (max-width: 660px) {
            // max-width: 100%;
            // width: 100px;
            height: 90px;
        }
    }
    .point.purple {
        grid-area: a;
        justify-self: start;
        #point_title {
            color: #694370;
        }
        @media only screen and (max-width: 900px) {
            justify-self: start;
            grid-area: c;
        }
    }
    .point.green {
        grid-area: d;
        justify-self: end;
        #point_title {
            color: #43704d;
        }
    }
    .point.red {
        grid-area: e;
        justify-self: start;
        #point_title {
            color: $featherColorPink;
        }
    }
}
