$featherColorPink: #fb7680;
$featherColorBlue: #8088ff;
$bg: #11131c;
$textColor: #fffafb;
$fontBig: 5.178rem;
$fontMedium: 3.43rem;
$statTitle: 2.563rem;
$fontSmall: 1.68rem;
$fontMini: 1.125rem;
$margins: 8.3vw;

