@use "sass:math";
@import "variables";
@import "dashboard";
@import "splash";
@import "stats";
@import "cta";
// @import "form";
@import "canva";
/* inter-300 - latin */
@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url(./fonts/inter-v3-latin-300.subset.woff2);
  unicode-range: U+20-21, U+25, U+27-29, U+2c-3a, U+3f, U+41-5b, U+5d, U+61-7a,
    U+2019;
}
/* inter-200 - latin */
@font-face {
  font-family: "Inter";
  src: url(./fonts/inter-v3-latin-200.subset.woff2);
  font-weight: 200;
  unicode-range: U+20-21, U+25, U+27-29, U+2c-3a, U+3f, U+41-5b, U+5d, U+61-7a,
    U+2019;
}
/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(./fonts/inter-v3-latin-regular.subset.woff2);
  unicode-range: U+20-21, U+25, U+27-29, U+2c-3a, U+3f, U+41-5b, U+5d, U+61-7a,
    U+2019;
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(./fonts/inter-v3-latin-700.subset.woff2);
  unicode-range: U+20-21, U+25, U+27-29, U+2c-3a, U+3f, U+41-5b, U+5d, U+61-7a,
    U+2019;
}
/* inter-900 - latin */
@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url(./fonts/inter-v3-latin-900.subset.woff2);
  unicode-range: U+20-21, U+25, U+27-29, U+2c-3a, U+3f, U+41-5b, U+5d, U+61-7a,
    U+2019;
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url(fonts/inter-v3-latin-600.subset.woff2);
  unicode-range: U+20-21, U+25, U+27-29, U+2c-3a, U+3f, U+41-5b, U+5d, U+61-7a,
    U+2019;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  color: $textColor;
  background-color: $bg;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  // max-width: 1440px / 2;
  .screenCell {
    width: 100vw - ($margins * 2);
    max-width: 1200px;
    margin: 0px $margins 240px $margins;
    height: 100vh;
    min-height: 700px;
    max-height: 1400px;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;

    display: grid;
    grid-template-areas:
      "a a a a b b b b"
      "a a a a b b b b"
      "c c c c d d d d"
      "c c c c d d d d"
      "e e e e f f f f"
      "e e e e f f f f";
    align-items: start;
    // grid-gap: 60px;
    @media only screen and (min-width: 1450px) {
      margin: 0px 60px 240px 60px;
    }
  }
  #page_wrapper {
    margin: 0;
    // max-width: 1440px;
    width: 100%;
    grid-template-columns: 100%;
    @media only screen and (min-width: 1440px) {
      margin: 0 auto 0 auto;
      max-width: 1440px;
    }
  }
}
*,
::after,
::before {
  box-sizing: border-box;
}
